@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@font-face {
  font-family: "Universal Sans";
  src: url("path/to/UniversalSans-450.woff2") format("woff2");
  font-style: normal;
  font-weight: 450;
}
@font-face {
  font-family: "Universal Sans";
  src: url("path/to/UniversalSans-450Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 450;
}

@layer base {
  :root {
    --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
   
  }
}
@utility scrollbar-hide {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-universal-sans: "Universal Sans", sans-serif;
}

.slides {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  scroll-snap-align: start;
  min-width: 540px;
  max-width: 540px;
}

/* Highlight the active dot using pure CSS */
#slide-0:checked ~ .nav-dots label[for="slide-0"],
#slide-1:checked ~ .nav-dots label[for="slide-1"],
#slide-2:checked ~ .nav-dots label[for="slide-2"],
#slide-3:checked ~ .nav-dots label[for="slide-3"] {
  background-color: #27272a; /* Tailwind's zinc-800 */
  opacity: 1;
}
